<md-content flex id="content">
    <md-icon md-font-library="material-icons" class="material-icons md-48">{{ul.selected.avatar}}</md-icon>
    <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
    <h2>{{ul.selected.name}}</h2>
    <p>Comparison View</p>

    <md-button class="contact" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
      <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
      <md-icon md-svg-icon="share"></md-icon>
    </md-button>
<section class=cards-comp >
    <md-card  class="map-comp1 ">
     <div id="map_compare1"></div>
     <md-card-content>
       <h2>Business</h2>
       <p>Business Info</p>
     </md-card-content>
     <md-card-footer>
       Card footer
     </md-card-footer>
    </md-card>

    <md-card  class="map-comp2 ">
     <div id="map_compare2"></div>
     <md-card-content>
       <h2>Business</h2>
       <p>Business Info</p>
     </md-card-content>
     <md-card-footer>
       Card footer
     </md-card-footer>
    </md-card>
</section>

<canvas id="radar" class="chart chart-radar"
  chart-data="data" chart-labels="labels">
</canvas> 
</md-content>
