<md-content flex id="content">
    <md-icon md-font-library="material-icons" class="material-icons md-48">{{ul.selected.avatar}}</md-icon>
    <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
    <h2>{{ul.selected.name}}</h2>
    <p>Comparison View</p>

    <!--<md-button class="contact" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
      <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
      <md-icon md-svg-icon="share"></md-icon>
  </md-button>-->
<section class=cards-comp >
    <md-card  class="map-comp1 ">
     <div id="map_compare2"></div>
     <md-card-content>
       <h2>Soho Bistro</h2> <!--rT-iPtIXMKj3dTcl87lbOw-->
       <p>Chinese Restauraunt</p>
          <p>Rating: 4.0</p>
     </md-card-content>
    </md-card>

    <md-card  class="map-comp2 ">
     <div id="map_compare1"></div>
     <md-card-content>
       <h2>Sushiya Japan</h2>
       <p>Japanese, Restauraunt</p>
          <p>Rating: 3.5</p>
     </md-card-content>
    </md-card>

</section>

<canvas id="line" class="chart chart-line" chart-data="line_data"
  chart-labels="line_labels" chart-legend="true" chart-series="line_series"
  chart-click="onClick" >
</canvas>


<canvas id="radar" class="chart chart-radar"
  chart-data="data" chart-labels="labels" chart-series="line_series">
</canvas>
</md-content>
