<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #map, #map_global {
            height: 400px;
            width: 100%;
        }
        #map_compare1, #map_compare2{
            height:200px;
        }
        #mapContainer{
            height: 400px;
        }
        .material-icons.md-18 { font-size: 18px; }
        .material-icons.md-24 { font-size: 24px; }
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }
        @media (max-width: 600px) {
            .map-comp1 {  width : 100%;}
            .map-comp2 { width:100%;}

        }
        @media(min-width:601px){
        .map-comp1 {  width:45%;}
        .map-comp2 { width:45%;}
        }
        .cards-comp {display: flex; flex-wrap:wrap;}

        .day {
          fill: #fff;
          stroke: #ccc;
        }

        .month {
          fill: none;
          stroke: #000;
          stroke-width: 2px;
        }

        .RdYlGn .q0-11{fill:rgb(165,0,38)}
        .RdYlGn .q1-11{fill:rgb(215,48,39)}
        .RdYlGn .q2-11{fill:rgb(244,109,67)}
        .RdYlGn .q3-11{fill:rgb(253,174,97)}
        .RdYlGn .q4-11{fill:rgb(254,224,139)}
        .RdYlGn .q5-11{fill:rgb(255,255,191)}
        .RdYlGn .q6-11{fill:rgb(217,239,139)}
        .RdYlGn .q7-11{fill:rgb(166,217,106)}
        .RdYlGn .q8-11{fill:rgb(102,189,99)}
        .RdYlGn .q9-11{fill:rgb(26,152,80)}
        .RdYlGn .q10-11{fill:rgb(0,104,55)}

    </style>

  </head>

  <body ng-app="starterApp" layout="row" ng-controller="UserController as ul" ng-cloak >
      <script src="//d3js.org/d3.v3.min.js"></script>

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="ul.toggleList()" aria-label="Show User List"
      md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h3>Analytics</h3>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="it in ul.users">
          <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
            <!--<md-icon md-font-set="material-icons" md-font-icon="{{it.avatar}}" class=""></md-icon>-->
            <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
            <md-icon md-font-library="material-icons" class="material-icons md-48 avatar2">{{it.avatar}}</md-icon>
            {{it.name}}

          </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button id="main" class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h3>Deep Yelp: Insights for Businesses</h3>
    </md-toolbar>
    <create-main ng-show="ul.selected.showMain"></create-main>
    <create-comparison ng-show="ul.selected.showComparison"></create-comparison>
    <create-global ng-show="ul.selected.showGlobal"></create-global>
    <div ng-init="ul.updateUsers()"></div>
  </div>
    <script src="http://cdn.rawgit.com/nnnick/Chart.js/master/Chart.min.js" type="text/javascript"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" href="../node_modules/angular-chart.js/dist/angular-chart.css">
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script src="//cdn.backand.net/backand/dist/1.8.2/backand.min.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="./src/users/Layouts.js"></script>
    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users', 'chart.js'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('indigo')
                          .accentPalette('red');

              });

    </script>

    <script>
          var map;
          var myLatLng = {lat: 35.2281289, lng: -80.841488}; //chinese bistro
          function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: myLatLng,
              zoom: 8
            });
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!',
              label: 'A'
            });
          }

          var map_compare1;
          var map_compare2;
          function initMapComparisons() {
            map_compare1 = new google.maps.Map(document.getElementById("map_compare1"), {
              center: {lat: 35.095238, lng: -80.779082},
              zoom: 9
            });
            var marker = new google.maps.Marker({
              position: {lat: 35.095238, lng: -80.779082},
              map: map_compare1,
              title: 'Japanese',
              label: 'A'
            });
            map_compare2 = new google.maps.Map(document.getElementById("map_compare2"), {
              center: {lat: 35.2281289, lng: -80.841488},
              zoom: 9
            });
            var marker = new google.maps.Marker({
              position: {lat: 35.2281289, lng: -80.841488},
              map: map_compare2,
              title: 'Chinese',
              label: 'B'
            });
          }

          var mapGlobal;
          function initMapGlobal() {
            mapGlobal = new google.maps.Map(document.getElementById("map_global"), {
              zoom: 14,
              center: {lat: 36.11295248, lng: -115.17258850}
            });
            setMarkers(mapGlobal);
          }

          var beaches = [
            [4578,"Mon Ami Gabi",36.11295248,-115.17258850],
            [3984,"Earl of Sandwich",36.11026599,-115.17055330],
            [3828,"Wicked Spoon",36.10987566,-115.17516380],
            [3046,"Bacchanal Buffet",36.11585434,-115.17617440],
            [3007,"Serendipity 3",36.11566972,-115.17331660],
            [2949,"The Buffet",36.12688722,-115.16559000],
            [2593,"Bouchon Bistro",36.12229341,-115.17027890],
            [2583,"The Buffet at Bellagio",36.11316041,-115.17640890],
            [2537,"Gordon Ramsay BurGR",36.11010840,-115.17233850],
            [2510,"The Cosmopolitan of Las Vegas",36.10991462,-115.17464250],
            [2440,"ARIA Hotel & Casino",36.10762100,-115.17704000],
            [2395,"Hash House A Go Go",36.14466700,-115.23995500],
            [2302,"XS Nightclub",36.12808322,-115.16467500],
            [2201,"McCarran International Airport",36.08633800,-115.15112000],
            [2143,"Mesa Grill",36.12595131,-115.17105100],
            [2127,"Luxor Hotel And Casino Las Vegas",36.09558900,-115.17583600],
            [2110,"Hash House A Go Go",36.11788299,-115.17124450],
            [2105,"Secret Pizza",36.11151943,-115.17484960],
            [2079,"The Venetian Resort Hotel Casino",36.12118900,-115.16965700],
            [2063,"Lotus of Siam",36.14356626,-115.14282620],
            [3984,"Earl of Sandwich",36.11026599,-115.17055330,4.5],
[1397,"Cirque du Soleil - The Beatles LOVE",36.12132357,-115.17495630,4.5],
[1352,"Firefly",36.11855220,-115.15469530,4.5],
[1241,"Four Peaks Brewing Co",33.41956800,-111.91609700,4.5],
[1223,"Tacos El Gordo",36.13177810,-115.16501910,4.5],
[1071,"Cirque du Soleil - O",36.11302900,-115.17652400,4.5],
[1065,"Mr. Mama's",36.08877400,-115.20733800,4.5],
[1063,"Oyster Bar",36.14290352,-115.17461850,4.5],
[1033,"Cornish Pasty Company",33.42272800,-111.95149400,4.5],
[1022,"Egg & I",36.14439570,-115.20163730,4.5],
[902,"KoMex Fusion",36.17993900,-115.20641700,4.5],
[900,"Absinthe",36.11396452,-115.17434770,4.5],
[885,"Del Frisco's Double Eagle Steak House",36.11806780,-115.15527880,4.5],
[827,"Fountains of Bellagio",36.11302780,-115.17394930,4.5],
[811,"Rollin Smoke Barbeque",36.13197900,-115.17711400,4.5],
[791,"Raku",36.12643660,-115.20954610,4.5],
[732,"Mastro's Ocean Club",36.10792411,-115.17405510,4.5],
[702,"L'Atelier de Joel Robuchon",36.10259007,-115.17054140,4.5],
[700,"Soho Japanese Restaurant",36.05524380,-115.22587020,4.5],
[700,"Green",33.45378690,-111.92716600,4.5],
[679,"Pinball Hall Of Fame",36.10133940,-115.13056180,4.5],
[668,"DW Bistro",36.07711230,-115.29829500,4.5],
[603,"Pizza Rock",36.17183030,-115.14200690,4.5],
[597,"Joel Robuchon",36.10339900,-115.16772500,4.5],
[577,"Settebello Pizzeria Napoletana",36.02210400,-115.08383900,4.5],
[573,"Island Flavor",36.04181594,-115.27817250,4.5],
[565,"Lawry's The Prime Rib",36.11516170,-115.15979030,4.5],
[545,"SkinnyFATS",36.07585711,-115.18163330,4.5],
[543,"Viva Las Arepas",36.15126861,-115.15254550,4.5],
[535,"Tacos El Gordo",36.15845700,-115.12652200,4.5],
[532,"Picasso",36.11199000,-115.17700100,4.5],
[523,"Fat Tuesday",36.10262100,-115.17156400,4.5],
[515,"Baguette Cafe",36.06685930,-115.27312570,4.5],
[511,"Frankie's Tiki Room",36.15916840,-115.16463720,4.5],
[508,"Fogo de Chão Brazilian Steakhouse",36.11474547,-115.15715720,4.5],
[497,"I Love Sushi",35.99123700,-115.10264100,4.5],
[485,"Mount Everest India's Cuisine",36.14395500,-115.18981800,4.5],
[485,"Egg Works",36.07242100,-115.11687000,4.5],
[484,"Crêpe Expectations",36.01646100,-115.11711670,4.5],
[481,"Sunrise Coffee",36.07194640,-115.10679830,4.5],
[480,"JABBAWOCKEEZ",36.10433290,-115.17601000,4.5],
[476,"Ronald's Donuts",36.12656320,-115.20422270,4.5],
[467,"Island Style",36.14402090,-115.19386610,4.5],
[462,"Strip N Dip Chicken Strips",36.16187640,-115.24536170,4.5],
[460,"Yonaka Modern Japanese",36.11493500,-115.20973700,4.5],
[455,"Firefly on Paradise",36.11997030,-115.15459920,4.5],
[449,"Buldogis",36.14708350,-115.29829930,4.5],
[440,"Haji-Baba",33.41427310,-111.91345090,4.5],
[424,"Double Down Saloon",36.10550006,-115.14998090,4.5],
[414,"Pan Asian",36.13495600,-115.27845800,4.5],

          ];


          function setMarkers(map) {
              // Adds markers to the map.

              // Marker sizes are expressed as a Size of X,Y where the origin of the image
              // (0,0) is located in the top left of the image.

              // Origins, anchor positions and coordinates of the marker increase in the X
              // direction to the right and in the Y direction down.

              // Shapes define the clickable region of the icon. The type defines an HTML
              // <area> element 'poly' which traces out a polygon as a series of X,Y points.
              // The final coordinate closes the poly by connecting to the first coordinate.
              var shape = {
                coords: [1, 1, 1, 20, 18, 20, 18, 1],
                type: 'poly'
              };
              for (var i = 0; i < beaches.length; i++) {
                var beach = beaches[i];
                var image = {
                  url:"http://www.clker.com/cliparts/T/G/b/7/r/A/red-dot-md.png",
                };

                sizelength=3/414*beach[0];
                image.scaledSize=new google.maps.Size(sizelength,sizelength)
                var marker = new google.maps.Marker({
                  position: {lat: beach[2], lng: beach[3]},
                  map: map,
                  icon: image,
                  shape: shape,
                  title: beach[1]
                });
              }
            }


          var startup = true;
          $( document ).ready(function() {
          });
          function googleMapsLoaded(){
              //dont use initializeMaps(), that will execute function right away
              google.maps.event.addDomListener(window, "load", initializeMaps); //so all divs are ready
          }
          function initializeMaps(){
              initMap();
              //initMapComparisons();
              //initMapGlobal();
              startup = false;
          }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_SDafWtjPa3-UK7345ERrIZVKEFjSzYc&callback=googleMapsLoaded"
   async defer></script>
  </body>
</html>
